@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fira+Code:wght@700&display=swap");
.html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, purple, blue);
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  color: white;
}

@keyframes colorAnimation {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  font-size: 8rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

header h1 {
  font-family: "Bungee ", cursive;
  font-weight: bolder;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: colorAnimation 2.5s infinite alternate;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-container {
  border: 4px solid black;
  border-radius: 20px;
  display: inline-grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: grey;
}

.box {
  width: 400px;
  height: 400px;
  margin: 20px 20px 20px 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #333;
  font-size: 4rem;
  font-family: "Bungee, monospace";
  font-weight: bolder;
  color: black;
  cursor: pointer;
}
